.login-form {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    width: 300px;
}


.login-form input {
    pointer-events: auto !important;
    position: relative;
    z-index: 1100;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    background-color: #3a3a3a;
    color: #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s;
}

.login-form input:focus {
    outline: none;
    border-color: #cc4444;
    background-color: #444;
    box-shadow: 0 0 5px rgba(204, 68, 68, 0.8);
}


.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button,
.signup-button,
.back-button {
    background-color: #444;
    color: #eee;
    border: none;
}

.login-button:hover,
.signup-button:hover,
.back-button:hover {
    background-color: #555;
}

.recovery-button {
    background-color: transparent;
    color: #aaa;
    text-decoration: underline;
    text-align: center;
}

.kakao-login-button {
    background-color: #fee500;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.kakao-login-button:hover {
    background-color: #ffd700;
}

.info-text {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
