.gameboy-container {
    position: relative;
    width: 1900px;
    height: 900px;
}

.gameboy-image {
    width: 100%;
    height: 100%;
}

.gameboy-screen {
    position: absolute;
    top: 18%; /* 검정 화면 부분에 맞게 위치 조정 */
    left: 24%;
    width: 58%; /* 검정 화면 크기에 맞게 조정 */
    height: 52%;
    margin: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 내용이 화면 밖으로 나가지 않도록 설정 */
}

.game-screen {
    width: 90%;
    height: 90%;
    background-color: #000; /* Pixi 애플리케이션 배경을 검정으로 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}
